<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta
      Nom="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>AppTest</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">AppTest</a>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/abonnees">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/livres">Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/emprunts">Borrows</a>
          </li>
        </ul>
      </nav>
    </div>
  </body>
</html>
