<%- include("../_header") -%>

<h1>Delete a Book</h1>

<form action="/livres/delete/<%= model.Livre_ID %>" method="post">
  <div class="form-horizontal">
    <%- include("_display") -%>

    <div class="form-group row">
      <label class="col-form-label col-sm-2"></label>
      <div class="col-sm-7">
        <input
          type="submit"
          value="Delete"
          class="btn btn-default btn-danger"
        />
        <a class="btn btn-outline-dark cancel" href="/livres">Cancel</a>
      </div>
    </div>
  </div>
</form>

<%- include("../_footer") -%>
